<table class="es-content">
    <tr>
        <td align="center">
            <table class="es-content-body">
                <tr>
                    <td align="center" class="es-content-body_wrap padding-x-40 padding-t-35 padding-b-20">
                        <h2>{{bodyHeader}}</h2>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            {{{bodyContent}}}
        </td>
    </tr>
</table>