<table class="es-footer">
  <tr>
    <td>
      <table align="center" class="es-footer-body">
        <tr>
          <td class="padding-t-40 padding-x-20">
            <table>
              <tr>
                <td>
                  <table align="center" class="max-w-340">
                    <tr>
                      <td class="padding-x-20">
                        <table class="es-social">
                          <tr>
                            <td align="center">
                              <a
                                target="_blank"
                                class="padding-r-40"
                                href="#"
                              ><img
                                  title="Facebook"
                                  src="https://ucarecdn.com/78d4a73b-9eae-4bef-8541-51d2425bfbae/facebooklogoblack.png"
                                /></a>
                            </td>
                            <td align="center">
                              <a
                                target="_blank"
                                class="padding-r-40"
                                href="#"
                              ><img
                                  title="Twitter"
                                  src="https://ucarecdn.com/e44ecf0d-c343-48fb-85ff-461bd8b43c45/twitterlogoblack.png"
                                /></a>
                            </td>
                            <td align="center">
                              <a
                                target="_blank"
                                class="padding-r-40"
                                href="#"
                              ><img
                                  title="Instagram"
                                  src="https://ucarecdn.com/9d801326-c602-4f8d-ac73-e55331b0f1a7/instagramlogoblack.png"
                                /></a>
                            </td>
                            <td align="center">
                              <a
                                target="_blank"
                                href="#"
                              ><img
                                  title="Youtube"
                                  src="https://ucarecdn.com/86bead33-ebd8-45ee-93c4-5d7f6f72b6da/youtubelogoblack.png"
                                /></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <table>
                          <tr>
                            <td class="es-divider padding-t-20"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="padding-b-40 padding-x-20 padding-t-20">
            <table align="center" class="max-w-340">
              <tr>
                <td align="center">
                  <a target="_blank" class="es-footer-link" href="#">Contact Us</a>
                  <span class="es-footer-link_divider">|</span>
                  <a target="_blank" class="es-footer-link" href="#">Privacy Policy</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>